<%= form_for @digital_image, :html => {:multipart => true} do |f| %>
  <% if @digital_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@digital_image.errors.count, "error") %> prohibited this digital_image from being saved:</h2>

      <ul>
      <% @digital_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :original_publisher %><br />
    <%= f.text_field :original_publisher %>
  </div>
  <div class="field">
    <%= f.label :publication_date %><br />
    <%= f.date_select :publication_date %>
  </div>
    <div class="field">
    <%= f.label :subject_1 %><br />
    <%= f.text_field :subject_1 %>
  </div>
    <div class="field">
    <%= f.label :subject_2 %><br />
    <%= f.text_field :subject_2 %>
  </div>
    <div class="field">
    <%= f.label :subject_3 %><br />
    <%= f.text_field :subject_3 %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= image_tag(@digital_image.image_url) if @digital_image.image? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
